<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt"> 
 <head> 
    <meta http-equiv="content-type" content="text/html;charset=iso-8859-1" /> 
    <title>Francisco Zanfranceschi - Currículo</title> 
    <style type="text/css">
		body
		{
			font-family: Arial, Verdana, sans-serif;
			font-size: 100%;
			color: #333;
			margin: 0;
		}
		
		h1
		{
			text-align: center;
		}
		
		h2
		{
			margin-top: 40px;
		}
		
		.job-description, .padder
		{
			padding: 10px;
		}
		
		.job-description li
		{
			list-style-type: square;
		}
		
		.odd
		{
			background: #eee;
			
		}
		li
		{
			margin-top: 10px;
		}
	</style>
</head>
<body>
	
	<div class="padder">
	
	<h1>Francisco Aguiar Zanfranceschi</h1>
	
	<h2>Objetivo</h2>
	<ul>
		<li>Análise/Desenvolvimento de sistemas web</li>
	</ul>
	
	<h2>Dados Pessoais</h2>
	<ul>
		<li>1979/09/27</li>
		<li>zanfranceschi arroba gmail ponto com</li>
		<li>{{ "http://zanfranceschi.alwaysdata.net/"|urlize }}</li>
	</ul>
	
	<h2>Formação</h2>
	<ul>
		<li>Graduado em Adm. de Sistemas de Bancos de  Dados (IBTA / São Paulo - SP)</li>
		<li>Ensino superior incompleto (Web Design - UNIBERO / São Paulo - SP)</li>
		<li>General English (Proficiency Level - odddine College / Londres - Inglaterra)</li>
	</ul>
	
	<h2>Habilidades Técnicas</h2>
	
	<h3>Linguages / Bancos / Tecnologias / Conceitos:</h3>
	<ul>
		<li>ASP.NET (C#, VB / .NET 2.0 & 3.5), PHP, ASP, Java (básico)</li>
		<li>(X)HTML, Javascript (JQuery, Ajax, DOM), CSS, Ajax</li>
		<li>Sql Server, MySql, Oracle</li>
		<li>Expressões Regulares</li>
		<li>Análise/Desenvolvimento Orientado a Objetos, Padrões de Projeto (Design Patterns), 
			Especificações de Casos de Uso, Especificações Técnicas, UML, Prototipação para Especificações, Documentação Leve</li>
	</ul>
	
	<h3>Outros:</h3>
	<ul>
		<li>Inglês fluente (vivência e projetos no exterior: Inglaterra, Japão, China, Índia e USA)</li>
	</ul>
	
	<h2>Experiência Profissional</h2>

	</div>
	
	<div class="job-description odd">
	<h3>CWI Software (Analista/Desenvolvedor de Sistemas) | Atual desde Julho de 2008</h3>
	<ul>
		<li><b>Arquiteto/Analista:</b> projeto CRM para Boehringer Ingelheim do Brasil. <br /><b>Tecnologias:</b> Sql Server 2005, Oracle 9.2, Integração com Siebel 7.5 (CRM Oracle) utilizando Siebel COM Data Control, ASP.NET C# 3.5, Web Services</li>
		<li><b>Analista:</b> projeto de BI para Boehringer Ingelheim do Brasil. <br /><b>Tecnologias:</b> Sql Server 2000, ASP.NET C# 3.5</li>
		<li><b>Analista/Desenvolvedor:</b> projeto de gerenciamento de documentos eletrônicos (GED). <br /><b>Tecnologias:</b> Multibanco (camada de acesso a dados com abstração de banco de dados), ASP.NET C# 3.5, WCF.</li>
		<li><b>Analista:</b> projeto para área de precificação para o Walmart (Brasil, Japão, China e Índia). <br /><b>Tecnologias:</b> Sql Server 2005, ASP.NET C# 2.0, 3.5, Web Services.</li>
	</ul>
	</div>
	<div class="job-description even">
	<h3>G&P - Atual GPTI (Analista/Desenvolvedor de Sistemas) | Março de 2008 a Julho de 2008</h3>
	<ul>
		<li><b>Analista/Desenvolvedor:</b> integrante da fábrica de software. <br /><b>Tecnologias:</b> Sql Server, Oracle, MySql, Web Services, ASP.NET C# 2.0, 3.5.</li>
	</ul>
	
	</div>
	<div class="job-description odd">
	<h3>iThink (Analista/Desenvolvedor de Sistemas Web - Agência Online) | Abril de 2007 até Março de 2008</h3>
	<ul>
		<li><b>Analista/Desenvolvedor:</b> sistemas web para clientes como Telefônica, Gafisa, iG, Honda, Amil, Walmart, Intel, Nivea entre outros. <br /><b>Tecnologias:</b> ASP, PHP, ASP.NET C#/VB, Web Services, Sql Server, MySql.</li>
		<li><b>Pesquisador de Inovações/Conceitos:</b> pesquisas de conceitos e padrões de desenvolvimento, novas tendências e tecnologias voltadas à internet.</li>
	</ul>
	</div>
	<div class="job-description even">
	<h3>MZ Consult (Desenvolvedor de Sistemas Web) | Agosto de 2006 até Abril de 2007</h3>
	<ul>
		<li><b>Desenvolvedor:</b> sistemas web, CRMs para empresa de IR (Investor Relationship).<br /><b>Tecnologias:</b> ASP, Sql Server, MS Access.</li>
	</ul>
	</div>
	<div class="job-description odd">
	<h3>Freelance (Analista/Desenvolvedor de Sistemas Web/Sites) | 2003 a 2006 </h3>
	<ul>
		<li><b>Analista/Desenvolvedor:</b>  de sistemas web/sites.<br /><b>Tecnologias:</b> ASP, PHP, ASP.NET, MySql, Sql Server.</li>
	</ul>
	</div>
	<p class="padder">
		<small><i>atualizado em 2010/10/17</i></small>
	</p>
	
</body>
</html>