<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br"> 
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1" /> 
	<title>zanfranceschi</title> 
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

<pre>
Olá,

Por enquanto, não há muito o que ver por aqui.
A única coisa disponível minha é meu <b><a href="/curriculo">currículo</a></b>. Volte em breve pra ver se alguma coisa mudou :)


Aproveitando sua visita, te digo o que atualmente estou estudando e interessado (escrito em Outubro de 2010):

- Django: Framework Web em Python ({{ "http://www.djangoproject.com/"|urlize }} - esse site está sendo feito com ele).

- Getting Real: uma ideia de como construir software de forma rápida, enxuta e melhor ({{ "http://gettingreal.37signals.com/"|urlize }}).

- A prototipação em análises de sistemas para melhores resultados (esse conceito vem se fortalecendo pra mim a cada projeto 
  que participo e tenho buscado me aprofundar por intermédio de recursos na internet que o reforçam - vide o livro Getting Real,
  do item acima [esse livro foi indicado pelo Sandro da Just Digital - {{ "http://www.justdigital.com.br/"|urlize }}]).
  
- Andei lendo os livros de Allan Kardec, Içami Tiba (Quem Ama Cuida) e Sidney Sheldon.


Abs.,


<b>Francisco Zanfranceschi</b>
</pre>
<!-- {{ hostname }} -->
<body>
</html>