<?xml version="1.0"?>
<configuration>
  <appSettings>
	<!--
	  Se ocorrer o erro:
	  
	   "Caught exception while starting ServiceRegistry: 
		System.ServiceModel.AddressAccessDeniedException: 
		HTTP could not register URL http://+:8080/service-registry/. 
		Your process does not have access rights to this namespace..."
	  
	  Execute o seguinte como administrador:
	  netsh http add urlacl url=http://+:8088/service-registry user=<usuário local>
	
	-->
	<add key="baseWebAddress" value="http://10.1.20.28:8088/service-registry"/>
		<add key="baseTcpAddress" value="net.tcp://10.1.20.28:8098/service-registry"/>

	<!--<add key="baseWebAddress" value="http://zanfranceschi-n:8088/service-registry"/>
	<add key="baseTcpAddress" value="net.tcp://zanfranceschi-n:8098/service-registry"/>-->


	<add key="mongodb-connection_string" value="mongodb://localhost/?safe=true"/>
	<add key="mongodb-database" value="test"/>

  </appSettings>
  <system.serviceModel>
	<bindings>
	  <basicHttpBinding>
		<binding name="httpBinding"/>
	  </basicHttpBinding>
	  <netTcpBinding>
		<binding name="tcpBinding">
		  <security mode="None"/>
		</binding>
	  </netTcpBinding>
	  <wsHttpBinding>
		<binding name="wsBinding">
		  <security mode="None"/>
		</binding>
	  </wsHttpBinding>
	</bindings>
	<services>
	  <service name="EIP.ServicesRegistry.Host.Services.IServiceRegistry">
		<endpoint binding="wsHttpBinding" bindingConfiguration="wsBinding"
		  name="wsEndpoint" contract="EIP.ServicesRegistry.Host.Services.IServiceRegistry"
		  listenUriMode="Explicit" />
		<endpoint address="mex" binding="mexHttpBinding" name="mexEndPoint"
		  contract="IMetadataExchange" listenUriMode="Explicit" />
		<endpoint address="http" binding="basicHttpBinding" bindingConfiguration="httpBinding"
		  name="httpEndPoint" contract="EIP.ServicesRegistry.Host.Services.IServiceRegistry"
		  listenUriMode="Explicit" />
		<endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="tcpBinding"
		  name="tcpEndPoint" contract="EIP.ServicesRegistry.Host.Services.IServiceRegistry" />
	  </service>
	</services>
  </system.serviceModel>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
