<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="queue" value=".\private$\TestQueue"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicBinding" />
   </basicHttpBinding>
   <wsHttpBinding>
    <binding name="WsPlain">
     <security mode="None" />
    </binding>
    <binding name="WSHttpBinding_IServiceRegistry" />
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:22043/TestService.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicBinding" contract="TestServiceRef.ITestService"
    name="BasicBinding" />
   <endpoint address="http://localhost:22043/TestService.svc/WsPlain"
    binding="wsHttpBinding" bindingConfiguration="WsPlain" contract="TestServiceRef.ITestService"
    name="WsPlain" />
   <endpoint address="http://localhost:8000/ServiceRegistry" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IServiceRegistry" contract="ServiceReference1.IServiceRegistry"
    name="WSHttpBinding_IServiceRegistry">
    <identity>
     <servicePrincipalName value="host/INFO1301040072.bandeirantes.com.br" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>
