<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="queue" value=".\private$\TestQueue"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IServiceRegistry" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IServiceRegistry">
     <security mode="None" />
    </binding>
   </netTcpBinding>
   <wsHttpBinding>
    <binding name="WSHttpBinding_IServiceRegistry">
     <security mode="None" />
    </binding>
   </wsHttpBinding>
  </bindings>
  <client>
   <!--<endpoint address="http://localhost:8088/service-registry/http"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRegistry"
    contract="ServiceReference1.IServiceRegistry" name="BasicHttpBinding_IServiceRegistry" />-->
   <endpoint address="net.tcp://localhost:8098/service-registry/tcp"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceRegistry"
    contract="ServiceReference1.IServiceRegistry" name="NetTcpBinding_IServiceRegistry" />
   <!--<endpoint address="http://localhost:8088/service-registry" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IServiceRegistry" contract="ServiceReference1.IServiceRegistry"
    name="WSHttpBinding_IServiceRegistry" />-->
  </client>
 </system.serviceModel>
 </configuration>
