<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server_file" value="C:\Users\fzanfranceschi\Desktop\prototipo_EDA\TI\TI Usuários\base.yap"/>
    <add key="server_port" value="8080"/>
    <add key="db4o_user" value="db4o"/>
    <add key="db4o_password" value="123"/>
  </appSettings>
</configuration>