body
{
	font-size: 100%;
	font-family: Georgia, Arial, sans-serif;
	margin: 10px;
}

.area
{
	background: #FFF;
	border: 1px solid #FFF;
	padding: 5px;
}

#header
{
	margin: 0 40px;
	padding: 30px;
	font-size: 120%;
	border-bottom: 1px dotted #444;
}

#content, #menu
{
	float: left;
	
}

#menu
{
	width: auto;
	margin-left: 40px;
	border-right: 1px dotted #444;
}
#menu h4
{
	margin: 3px;
}

#menu a
{
	display: block;
	padding: 2px;
	padding-left: 10px;
}

#menu a:hover
{
	background: #fff;
}

#content
{
	
}

.grid-result
{
	
}