<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" />
      </basicHttpBinding>
      
		
		<msmqIntegrationBinding>
			<binding name="Msmq">
				<security mode="None" />
			</binding>
		</msmqIntegrationBinding>
      
		
		<wsHttpBinding>
        <binding name="WsPlain">
          <security mode="None">
            <message negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="EIP.WcfTests.TestService">
        <clear />
        <endpoint address="http://localhost:22043/TestService.svc" binding="basicHttpBinding"
          bindingConfiguration="Basic" name="BasicBinding" contract="EIP.WcfTests.ITestService"
          listenUriMode="Explicit" />
        <endpoint address="http://localhost:22043/TestService.svc/WsPlain"
          binding="wsHttpBinding" bindingConfiguration="WsPlain" name="WsPlain"
          contract="EIP.WcfTests.ITestService" listenUriMode="Explicit" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>