<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="mongodb-connection_string" value="mongodb://localhost/?safe=true"/>
	<add key="mongodb-database" value="test"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
