<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="LatestEventServiceFilePath" value="LatestEventService.json"/>
	<add key="QueueUniqueName" value="AppAPublisher"/>
	<add key="queue-protocol" value="msmq"/>
  </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServiceRegistry" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IServiceRegistry">
					<security mode="None" />
				</binding>
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IServiceRegistry">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8098/service-registry/tcp"
			 binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceRegistry"
			 contract="ServiceRegistry.IServiceRegistry" name="NetTcpBinding_IServiceRegistry" />
		</client>
	</system.serviceModel>
</configuration>
