<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="EIP.ServiceRegistry.WinService.ServiceRegistryImpl" behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ServiceRegistry"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsHttpBinding"
						  contract="EIP.ServiceRegistry.WinService.IServiceRegistry" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>